@*@using CiEletronica.Models*@
@*@model CiEletronica.Models.men_mensagem*@

@{ 
    //men_mensagem modelMensagem = model;
    var a = "asdf";
}
    <div>
        teste
    </div>
    <div>
        @*@model.men_nom_titulo*@
    </div>