@{
    ViewBag.Title = "Ci Eletrônica";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-comments-o"></i> Caixa de Entrada</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Estou aqui:</span>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-comments-o"></i>
                    <a href="@Url.Action("index", "Home")">Caixa de Entrada</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div>
    </div>

    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mensagem"];
        </div>
    }


    <div class="body-content animated fadeIn">
        
    </div>
    @Html.Partial("_footerAdmin")
</section>